option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    PYTHONPATH: /app
  aws:elasticbeanstalk:container:docker:
    Image: auto-podcast-backend:latest
    Ports: 80
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /assets: /app/assets
    /static: /app
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance 